<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.bakery.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitItemController</servlet-name>
        <servlet-class>com.bakery.controller.SubmitItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>com.bakery.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterationController</servlet-name>
        <servlet-class>com.bakery.controller.RegisterationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayController</servlet-name>
        <servlet-class>com.bakery.controller.DisplayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.bakery.controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusController</servlet-name>
        <servlet-class>com.bakery.controller.StatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegController</servlet-name>
        <servlet-class>com.bakery.controller.RegController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyItemController</servlet-name>
        <servlet-class>com.bakery.controller.ModifyItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderPlaceController</servlet-name>
        <servlet-class>com.bakery.controller.OrderPlaceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.bakery.beans.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitItemController</servlet-name>
        <url-pattern>/SubmitItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterationController</servlet-name>
        <url-pattern>/RegisterationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayController</servlet-name>
        <url-pattern>/DisplayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusController</servlet-name>
        <url-pattern>/StatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegController</servlet-name>
        <url-pattern>/RegController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyItemController</servlet-name>
        <url-pattern>/ModifyItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderPlaceController</servlet-name>
        <url-pattern>/OrderPlaceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
